.col-md-8
  %ul.nav.nav-pills
    %li= link_to 'Copmany' ,'',class:'uppercase_text'
    %li.active= link_to 'User' ,'',class:'uppercase_text'
  %br

.col-md-6
  = render 'shared/error_msg', object: new_user

= form_for new_user, url: register_companies_path, method: :post, html: { multipart: true }  do |f|
  .col-md-8
    .form-group
      = f.label :email
      = f.email_field :email, class: 'form-control'
    .form-group
      = f.label :password
      = f.password_field :password, class: 'form-control'
    .form-group
      = f.label :password_confirmation
      = f.password_field :password_confirmation, class: 'form-control'
  .col-md-8
    .form-group
      = f.submit 'Create', class: 'btn btn-success'
