%table.table.table-striped.table-bordered
  %thead
    %tr
      %th Email/Login User
      %th Count vacancies
      %th Admin
      %th
  %tbody
    - users.each do |user|
      - if user.company.try(:active?)
        %tr{ data: { id: user.id }}
          %td
            = user.email
          %td= user.vacancies.size
          %td= glyph(:ok, {tag: :span}) if user.admin
          %td
            - if user.locked_at.blank?
              = render 'btn_block' ,user: user
            - else
              = render 'btn_unblock', user: user
