.col-md-12.margin_bottom
  = link_to 'Back',manage_vacancies_path,class: 'btn btn-sm btn-primary'
  = link_to 'Edit',edit_manage_vacancy_path(vacancy),class: 'btn btn-sm btn-warning'
  = link_to 'delete',manage_vacancy_path(vacancy),method: :delete,data: { confirm: 'Are you sure?' },class: 'btn btn-sm btn-danger pull-right'
.col-md-12.block_show
  .add-top
    %span.text-muted
      Vacancy on&#160;#{vacancy.created_at.to_s(:human)}
  %h1= vacancy.title
  %p
  .col-md-3.text_bold.text-muted Company :
  %span.text_black.text_bold= vacancy.company.name
  %p
  .col-md-3.text_bold.text-muted Continent :
  %span.text_black.text_bold= vacancy.continent
  %p
  .col-md-3.text_bold.text-muted Country :
  %span.text_black.text_bold= vacancy.country
  %p
  .col-md-3.text_bold.text-muted City :
  %span.text_black.text_bold= vacancy.city
  %p
  .col-md-3.text_bold.text-muted Link to company :
  %span.text_black.text_bold= vacancy.company.link
  %p
  .col-md-3.text_bold.text-muted Deadline :
  %span.text_black.text_bold= vacancy.deadline
  %h2.side-lines
    %span Description vacancy
  .desc_vacancy
    = simple_format vacancy.description.html_safe
