<p><%= link_to 'Add new Vacancy', new_admin_vacancy_path, method: :get, class: "btn btn-info new_vacancy" %></p>

<table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Job Title</th>
        <th>Company</th>
        <th>Country</th>
        <th>City</th>
        <th>Deadline</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% vacancies.each do |vacancy| %>
        <tr>
          <td>
            <%= link_to vacancy.title, admin_vacancy_path(vacancy)%>
          </td>
          <td>
            <%= vacancy.company.name %>
          </td>
          <td>
            <%= vacancy.country %>
          </td>
          <td>
            <%= vacancy.city %>
          </td>
          <td class="<%= vacancy.status %>">
            <%= vacancy.deadline.to_s(:human) %>
          </td>
          <td>
            <%=link_to 'delete',admin_vacancy_path(vacancy),method: :delete,data: { confirm: 'Are you sure?' },class: 'btn btn-sm btn-danger' %>
          </td>
        </tr>

    <% end %>
    </tbody>
  </table>
