.search_bar.margin_bottom
  .col-md-8
    = form_tag search_vacancies_path, method: :get, id: 'search-form',class: 'form-inline' do
      = render 'search_form', companies: companies,countries:countries
  .col-md-4
    %span.pull-right
      = form_tag vacancies_path, method: :get, id: 'limit_form', remote: true do
        = select_tag('limit', options_for_select([1,5,10,20],params[:limit] || 5), class: 'form-control')
.content
  = render 'list_vacancies', vacancies: vacancies
