
<div class="col-md-4">
  <p><span class="text_bold">Title vacancy :</span>
    <%=  vacancy.title%>
  </p>
  <p><span class="text_bold">Country :</span>
    <%=  vacancy.country%>
  </p>
  <p><span class="text_bold">City :</span>
    <%=  vacancy.city%>
  </p>
  <p><span class="text_bold">Link to company :</span>
    <%=  vacancy.company.link%>
  </p>
  <p>
    <span class="text_bold">Description :</span>
    <%= vacancy.description %>
  </p>
  <p>
    <span class="text_bold">Deadline :</span>
    <%= vacancy.deadline %>
  </p>
</div>


