<div class="col-md-12 margin_bottom">
  <%=link_to 'Back',vacancies_path,class: 'btn btn-sm btn-primary' %>
</div>
<div class="col-md-12 block_show" >
  <div class="add-top">
    <span class="text-muted">Vacancy on&nbsp;<%= vacancy.created_at.to_s(:human) %></span>
  </div>
  <h1><%=  vacancy.title%></h1>


  <p>
    <div class="col-md-3 text_bold text-muted">Company :</div>

    <span class="text_black text_bold"><%=link_to vacancy.company.name,company_path(vacancy.company) %> </span>
  </p>
  <p>
    <div class="col-md-3 text_bold text-muted">Country :</div>

    <span class="text_black text_bold"><%=  vacancy.country%></span>
  </p>
  <p>
     <div class="col-md-3 text_bold text-muted">City :</div>

    <span class="text_black text_bold"><%=  vacancy.city%></span>
  </p>
  <p>
    <div class="col-md-3 text_bold text-muted">Link to company :</div>

    <span class="text_black text_bold"><%=  vacancy.company.link%></span>
  </p>
  <p>
    <div class="col-md-3 text_bold text-muted">Open to :</div>

    <span class="text_black text_bold"><%= vacancy.deadline.to_s(:human) %></span>
  </p>


  <h2 class="side-lines"><span>Description vacancy</span></h2>
  <div class="desc_vacancy">
    <%=  simple_format vacancy.description %>
  </div>
</div>
