= render 'shared/error_msg', object: new_external_client
.panel.panel-default
  .panel-heading
    %h4 New external client
  .panel-body
    = form_for new_external_client, url: admin_external_clients_path, method: :post  do |f|
      .col-md-8
        .form-group
          = f.label :name
          = f.text_field :name, autofocus: true, class: "form-control"
        .form-group
          = f.label :description
          = f.text_field :description, class: "form-control"
      .col-md-8
        = f.submit 'Save', class: "btn btn-primary"

= link_to 'Back', :back
