%h3 Active companies
%br
%table.table.table-striped.table-bordered.active_comapny
  %thead
    %tr
      %th Name company
      %th Web-site
      %th Count vacancies
      %th
  %tbody
    - companies.active.each do |company|
      %tr
        %td= link_to company.name, admin_company_path(company)
        %td= company.link
        %td= company.vacancies.size
        %td= link_to 'delete', admin_company_path(company), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger'

%br
%h3 The company expects confirmation
%br
%table.table.table-striped.table-bordered.disable_company
  %thead
    %tr
      %th Name company
      %th Web-site
      %th Accept
      %th Delete
  %tbody
    - companies.disable.each do |company|
      %tr{ data: { id: company.id } }
        %td= link_to company.name, admin_company_path(company)
        %td= company.link
        %td= link_to 'Active', admin_company_approves_path(company), method: :put, remote: true, class: 'btn btn-sm btn-success'
        %td= link_to 'Delete', admin_company_approves_path(company), method: :delete, remote: true, class: 'btn btn-sm btn-danger'
