= render 'shared/error_msg', object: new_summary
= form_for new_summary, url: vacancy_summaries_path, method: :post  do |f|
  .form-group
    = f.label :email
    = f.email_field :email, class: 'form-control'
  .form-group
    = f.label :first_name
    = f.text_field :first_name, class: 'form-control'
  .form-group
    = f.label :last_name
    = f.text_field :last_name, class: 'form-control'
  .form-group
    = f.label :file
    = f.file_field :file
  .form-group
    = f.submit 'Send', class: 'btn btn-success'
