!!!
%html
  %head
    %title Vacancy
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag :application, 'http://maps.googleapis.com/maps/api/js?sensor=false&libraries=places&language=en-Us'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render header_partial
    .row
      .col-md-10.col-md-offset-1
        = bootstrap_flash
        = yield

