%nav.navbar.navbar-custom.navbar-static-top
  .navbar-header
    %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    = link_to 'Site Vacancy', manage_root_path, class: 'navbar-brand'
  #navbar.navbar-collapse.collapse
    %ul.nav.navbar-nav
      %li= link_to 'All vacansies', manage_vacancies_path
      - if current_user.admin
        %li= link_to 'All company', manage_admin_companies_path
        %li= link_to 'Users', manage_admin_users_path
        %li= link_to 'Api clients', manage_admin_external_clients_path
        %li= link_to 'Reports', manage_admin_reports_path
      -else
        %li= link_to 'Profile Comapny', manage_profile_companies_path
        %li= link_to 'Reports', manage_reports_path
    %ul.nav.navbar-nav.navbar-right
      %li= link_to 'Site',root_path
      %li.dropdown
        %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
          = current_user.email
          %span.caret
        %ul.dropdown-menu
          %li= link_to 'Profile', edit_manage_profiles_path
          %li= link_to 'Change Password', edit_user_registration_path(current_user)
          %li= link_to 'Sing out',destroy_user_session_path, method: :delete
