%nav.navbar.navbar-custom.navbar-static-top
  .navbar-header
    %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    = link_to 'Site Vacancy', root_path, class: 'navbar-brand'
  #navbar.navbar-collapse.collapse
    %ul.nav.navbar-nav
      %li= link_to 'All vacancies', root_path
      %li= link_to 'All company', companies_path
    %ul.nav.navbar-nav.navbar-right
      - if user_signed_in?
        %li= link_to 'Administration',admin_root_path
        %li= link_to 'Settings', edit_user_registration_path(current_user)
        %li= link_to 'Sing out',destroy_user_session_path, method: :delete
      - else
        %li= link_to 'Sing in',new_user_session_path
        %li= link_to 'Sing up',new_user_registration_path
